@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: rgb(0, 0, 0);
}

h1 {
  background-color: rgb(255, 38, 38);
  color: rgb(223, 224, 224);
}

h2 {
  background-color: rgb(255, 38, 38);
  color: rgb(223, 224, 224);
}

#main {
  color: rgb(157, 255, 0);
  background-color: rgb(66, 56, 56);
  font-size: 30px;
}

#img1 {
  color: rgb(157, 255, 0);
  background-color: rgb(66, 56, 56);
  font-size: 20px;
}

#img2 {
  color: rgb(157, 255, 0);
  background-color: rgb(66, 56, 56);
  font-size: 20px;
}

footer {
  color: aliceblue;
}

ul {
  color: rgb(157, 255, 0);
  background-color: rgb(66, 56, 56);
  font-size: 30px;
}

ol {
  color: rgb(157, 255, 0);
  background-color: rgb(66, 56, 56);
  font-size: 30px;
}

table {
  color: rgb(157, 255, 0);
  background-color: rgb(66, 56, 56);
}

th,
td {
  border: 1px solid black;
  padding: 8px;
}
th {
  background-color: #333;
  color: white;
}
